  
@media screen and (max-width: 768px) {
  .hamburger-menu {
    display: block;
  }

  .nav__collapse {
    display: flex;
    flex-direction: column;
    transition: .6s all;
    max-height: 0;
    position: absolute;
    top: 70px;
    overflow: hidden;
    left: 0;
    right: 0;
    padding: 0 40px;
    box-sizing: border-box;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.5);
    background-blend-mode: multiply;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url('../img/img/house.png');
    margin-left: 0 !important;
  }

  .nav__collapse.is-active {
    position: absolute;
    z-index: 999999999999 !important;
    max-height: 800px;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .button {
    margin-left: 0 !important;
    margin-top: 10px;
  }

  .nav {
    margin-left: 0 !important;
    flex-direction: column;
  }

  .nav a {
    text-align: center;
  }
}